<!DOCTYPE html>
<html lang="{{ site.lang | default:" en-US" }}">
  <head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Troyanskaya Laboratory</title>
    <meta name="description" content="">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style"
      content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append:
      site.github.build_revision | relative_url }}">

    <link rel="stylesheet" type="text/css" href="./assets/css/functionlab.css">
    <link rel="stylesheet" type="text/css"
      href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
      href="../assets/css/bootstrap-theme.min.css">
    <link rel="shortcut icon"
      href="https://function.princeton.edu/static/img/favicon.ico">
    <link href="./Troyanskaya Laboratory_files/css" rel="stylesheet">

  </head>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default:
        site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default:
        site.description | default: site.github.project_tagline }}</h2>
      <!-- {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %} -->
      {% if site.show_downloads %}
      <a href="{{ site.github.zip_url }}" class="btn">Bio</a>
      <a href="{{ site.github.another_url }}" class="btn">News</a>
      <a href="{{ site.github.third_url }}" class="btn">Apple</a>
      {% endif %}
    </header>

    <nav class="navbar navbar-custom navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://function.princeton.edu/">
            <img src="./Troyanskaya Laboratory_files/logo.png">
            <div id="logoText" class="navbar-text">
              <h3>Troyanskaya Laboratory</h3>
              <p class="navbar-subtext">Bioinformatics and Functional Genomics</p>
            </div>
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-right"
          id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <li class="">
              <a href="https://function.princeton.edu/people/">people</a>
            </li>

            <li class="">
              <a href="https://function.princeton.edu/research/">research</a>
            </li>

            <li class="">
              <a href="https://function.princeton.edu/software/">software</a>
            </li>

            <li class="">
              <a href="https://function.princeton.edu/publications/">publications</a>
            </li>

            <li class="">
              <a href="https://function.princeton.edu/join/">join</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>



    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <!-- {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %} -->
        <span class="site-footer-credits">This page was generated by <a
            href="https://pages.github.com">GitHub Pages</a>.</span>


        <span class="site-footer-credits">This page was generated by <a
            href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>

    <script type="text/javascript" src="./assets/js/functionlab.js"></script>
    <script type="text/javascript" src="./assets/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="./assets/js/collapse.js"></script>
    <script type="text/javascript" src="./assets/js/transition.js"></script>
    <script type="text/javascript" src="./assets/js/carousel.js"></script>
  </body>
</html>
